.recipe-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding : 10px 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 2px 34px 1px rgba(0,0,0,0.41);
  -webkit-box-shadow: 0px 2px 34px 1px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 2px 34px 1px rgba(0,0,0,0.41);
}

.meal-image {
  /* background-image: url("https://www.themealdb.com/images/media/meals/x2fw9e1560460636.jpg");*/
 /* background-image: linear-gradient(to bottom, transparent 0%, #ece2e2bd 95%, #e2dcdc 100%), url("https://www.themealdb.com/images/media/meals/x2fw9e1560460636.jpg"); */
  background-size: cover;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* [2] Transition property for smooth transformation of images */
.meal-image {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.meal-image:hover {
  transform: scale(1.02);
}

.category-container {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 20px 4px;
}

.category-container h3 {
  padding-right: 15px;
}

.meal-header {
  text-align: center;
}

.recipe-details {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-details h1 {
  text-align: center;
  color: #2C3E50;
  font-size: 2rem;
}

.recipe-details p {
  font-size: 1.2rem;
  color: #7F8C8D; 
}

.recipe-details strong {
  color: #FF5733;
 }

ol {
  list-style: none;
  counter-reset: item;
  text-align: justify;
}

li {
  counter-increment: item;
  margin-bottom: 5px;
}

li:before {
  margin-right: 10px;
  content: counter(item);
  background: #CE6A85;
  border-radius: 100%;
  color: white;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}

.instructions-container {
  display: flex;
  flex-direction: row;
}

.meal-thumbnail img {
  border-radius: 25px;
}

.instructions-container-inner {
  padding: 0 10px;
  text-align: justify;
}