.recipe-list {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.recipe-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-10px);
}

.favorite-icon {
  cursor: pointer;
  margin-top: 10px;
}

.favorites-link {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: #007bff;
  text-decoration: none;
}

.favorites-link:hover {
  text-decoration: underline;
}
