.recipe-list {
  padding: 20px;
  background-color: #f5f5f5; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next row if necessary */
  justify-content: flex-start; /* Center the cards horizontally */
  gap: 20px; /* Space between recipe cards */
  padding-bottom: 20px;
  max-width: 1200px; /* Limit the container width for better visuals */
}

/* Styling each individual recipe card */
.recipe-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px; /* Fixed width for each card */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: fit-content;
}

.recipe-card:hover,
.already-added:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Styling for the image inside the recipe card */
.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-card p {
  color: #5C374C;
  margin: 5px 0;
}

.meal-name {
  font-size: 1em;
  font-weight: 600;
}

.heart {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 220px;
  margin: auto;
  gap: 4px;
}

.search-results {
  width: 100%;
}

.search-results h3 {
  width: auto;
  text-align: center;
}

.search-results .recipe-card {
  cursor: default;
}

.search-results .already-added {
  cursor: pointer;
}

.heart-icon:hover {
  fill: red;
}

.heart-icon-favorites {
  fill: red;
}

.plus-icon:hover {
  cursor: pointer;
}

.trash-icon:hover {
  cursor: pointer;
  fill:#CE6A85;
}


