.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  max-width: 500px;
  border: 2px solid #28A745; 
  border-radius: 25px;
  outline: none;
}

.search-bar input:focus {
  border-color: #FF5733;
}
